/* Highlight "Home" for being on this page */
#home {
	color: #427bd6 ;
}

.games_contain {
	position: relative ;
}

/* Image of board games */
#games {
	padding-top: 15px ;
	height: auto ;
	margin: auto;
	position: relative ;
	width: 100% ;
	opacity: 0.70 ;
	text-align: center ;
}

/* Text on board games image */
#intro {
	color: white ;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	font-size: 5vw ;
	font-family: Chicle ;
	
	position: absolute ;
	text-align: center ;
	margin: auto ;
	top: 10% ;
	left: 50% ;
	margin-right: -50% ;
	transform: translate(-50%) ;
}

#happening {
	color: white ;
	text-shadow: 1px 0 0 #4c4c4c, 0 -1px 0 #4c4c4c, 0 1px 0 #4c4c4c, -1px 0 0 #4c4c4c;
	font-size: 4vw ;
	font-family: Tahoma, Geneva, sans-serif ;
	
	position: absolute ;
	text-align: center ;
	margin: auto;
	top: 40% ;
	left: 50% ;
	margin-right: -50% ;
	transform: translate(-50%) ;
}

#yes_no {
	/* YES */
	color: #07ba0a ;
	text-shadow: 1px 0 0 #4c4c4c, 0 -1px 0 #4c4c4c, 0 1px 0 #4c4c4c, -1px 0 0 #4c4c4c;
	
	/* NO */
	/* color: #ea0000 ;
	text-shadow: 1px 0 0 #4c4c4c, 0 -1px 0 #4c4c4c, 0 1px 0 #4c4c4c, -1px 0 0 #4c4c4c; */
	
	font-family: Tahoma, Geneva, sans-serif ;
	font-size: 7vw ;
	font-weight: 900 ;
	
	position: absolute ;
	text-align: center ;
	margin: auto ;
	top: 58% ;
	left: 50% ;
	margin-right: 50% ;
	transform: translate(-50%) ;
}

#loc {
	color: white ;
	text-shadow: 1px 0 0 #4c4c4c, 0 -1px 0 #4c4c4c, 0 1px 0 #4c4c4c, -1px 0 0 #4c4c4c;
	font-size: 4vw ;
	font-family: Tahoma, Geneva, sans-serif ;
	font-variant: small-caps ;
	
	position: absolute ;
	text-align: center ;
	margin: auto;
	top: 72% ;
	left: 50% ;
	margin-right: -50% ;
	transform: translate(-50%) ;
}